# Visual Studio
.vs/
**/.vs/
**/bin/
**/obj/
*.user
*.suo
*.pdb

# NuGet packages (restaurados automaticamente)
**/packages/
*.nupkg

# Build binaries
*.exe
*.dll

# Archives
*.rar

# OS
.DS_Store
Thumbs.db
